<%= turbo_stream.update "chat_room_messages_area" do %>
  <h2>Chat room: <%= @chat_room.name %></h2>

  <%= turbo_frame_tag "chat_room_user_count" do %>
    <%= render partial: 'chat_rooms/chat_room_user_counter', locals: { chat_room_user_counter: @chat_room_users.size } %>
  <% end %>

  <h3>Messages:</h3>
  <% @messages.each do |message| %>
    <%= render partial: 'messages/message', locals: { message: message } %>
  <% end %>

  <%= turbo_frame_tag "new_messages" %>
  <%= turbo_stream_from "chat_room_", channel: ChatRoomChannel, data: { chat_room_id: @chat_room.id } %>

  <%= form_with(model: Message.new, url: chat_room_messages_path, remote: true, data: {controller: "messages", action: "turbo:submit-end->messages#clear"} ) do |f| %>
    <%= f.text_field :content %>
    <%= f.submit "Send" %>
  <% end %>
<% end %>
