<h3>Messages:</h3>
<% @messages.each do |message| %>
  <%= render partial: 'messages/message', locals: { message: message } %>
<% end %>

<%= turbo_frame_tag "new-messages" %>

<%= form_with(model: Message.new, remote: true ) do |f| %>
  <%= f.hidden_field :chat_room_id %>
  <%= f.hidden_field :user_id %>
  <%= f.text_field :content %>
  <%= f.submit "Send" %>
<% end %>
